<h1><%= @user.name %></h1>

<% if current_user.id == @user.id %>
	<% if @profile %>
		Birthday: <%= @profile.birthday %>
	<% else %>
		<%= link_to "Empty profile... set it up!", new_profile_path %>
	<% end %>
<% else %>
	This user just joined the site and has not yet set up their profile. <br>
	Send them a message!
<% end %>
