/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Authentication
@import 'authentications';

// Bootstrap
@import 'bootstrap';
@import 'font-awesome';

// Mixins
@mixin translate-center($x, $y) {
  left: $x;
  position: absolute;
  top: $y;
  -webkit-transform: translateX(-$x) translateY(-$y);
  -moz-transform: translateX(-$x) translateY(-$y);
  -ms-transform: translateX(-$x) translateY(-$y);
  transform: translateX(-$x) translateY(-$y);
}

// Body
body {
  
  p {
    font-size: 1.25em;
  }


  .artists {
    margin-left: -.5%;
    margin-right: -.5%;

    .artist-image {
      margin: 0.5%;
      padding-bottom: 19%;
      width: 19%;

      .artist-title {
        background: rgba(0, 0, 0, .6);
        color: #fff;
        height: 100%;
        opacity: 0;
        text-align: center;
        @include translate-center(50%, 50%);
        width: 100%;

        .artist-name {
          font-size: 2em;
          line-height: 1.25em;
          margin: 0;
          overflow: hidden;
          @include translate-center(50%, 50%);
        }
      }
    }

    .artist-title:hover {
      opacity: 1;
      transition: .2s;
    }
  }

}

#map-canvas {
    height: 100%;
}

