/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Authentication
@import 'authentications';

// Bootstrap
@import 'bootstrap';
@import 'font-awesome';

// Colors
$main-color: #ef3592;
$secondary-color: #2eb7f0;
$light-text: #eee;

// Mixins
@mixin translate-center($x, $y) {
  left: $x;
  position: absolute;
  top: $y;
  -webkit-transform: translateX(-$x) translateY(-$y);
  -moz-transform: translateX(-$x) translateY(-$y);
  -ms-transform: translateX(-$x) translateY(-$y);
  transform: translateX(-$x) translateY(-$y);
}

// Body
body {
  background: #f8f8f8;
  
  p {
    font-size: 1.25em;
    line-height: 1.4em;
  }

  a {
    color: $secondary-color;
  }


  // Navbar
  .navbar {
    background: #222;
    border: none;
    border-radius: 0;
    box-shadow: 0 .15em rgba(0, 0, 0, .75);

    .navbar-logo {
      height: 35px;
      margin-top: 8px;
    }
    
    // Navbar Avatar
    .navbar-avatar {
      top: .75em;
      width: 2em;

      a {
        padding: 0;

        .avatar {
          border-radius: 4px;
          padding-bottom: 100%;
          width: 100%;
        }
      }
    }

    // Navbar Links
    .navbar-link {
      a {
        color: $light-text;
      }

      a:hover {
        color: $light-text;
      }
    }

    .fa-gear {
      color: $light-text;
    }
  }

  // Navbar Highlights
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #444;
    color: $light-text;
  }

  
  // Image Displays
  .images {
    margin-left: -.5%;
    margin-right: -.5%;

    .image-box {
      border-radius: 4px;
      margin: 0.5%;
      margin-bottom: .75%;
      padding-bottom: 19%;
      width: 19%;

      .image-panel {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 .25em rgba(0, 0, 0, .75);
        background: rgba(0, 0, 0, .45);
        color: $light-text;
        padding: 0 .75em;
        @include translate-center(50%, 100%);
        width: 100%;

        .image-name {
          display: inline-block;
          margin: .5em 0 .25em;
        }

        .image-ctrl {
          float: right;
          margin: .5em 0 0;

          .fa-heart {
            color: lighten($main-color, 5%);
          }

          form {
          float: right;
          margin: 0 0 0 .25em;

            .fa-heart {
              color: $light-text;
            }

            .fa-check {
              color: $secondary-color;
            }

            .fa-times {
              color: $light-text;
            }
          }

          button {
            background: none;
            border: none;
            color: $light-text;
            margin: 0;
            padding: 0;
          }

          button:focus {
            outline: none;
          }
        }


        a {
          color: $light-text;
          display: inline-block;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  
  // Forms
  .btn-primary {
    background-color: $secondary-color;
    border: none;
    box-shadow: 0 .25em darken($secondary-color, 25%);
  }

  .btn-secondary {
    border: none;
    box-shadow: 0 .25em rgba(0, 0, 0, .75);
  }


  // Profile Head
  .profile-head {
    padding-right: 15px;

    .avatar {
      border-radius: 4px;
      box-shadow: 0 .25em rgba(0, 0, 0, .75);
      margin-top: 25px;
      padding-bottom: 100%;
      width: 100%;
    }

    .header {
      background: #ddd;
      border-radius: 4px;
      box-shadow: 0 .25em rgba(0, 0, 0, .75);
      margin: 25px 0 30px;
      height: 13.35em;

      h1 {
        margin: 8px 0 0;
      }

      .details {
        margin-bottom: .75em;
      }

      .summary {
        margin-top: -5px;
        word-wrap: break-word;
      }
    }
  }

  // Profile Side
  .profile-side {
    
    .match {

      h1 {
        font-size: 6em;
        margin: 10px 0 -5px;
      }

      h3 {
        margin: 0;
      }

    }

    .preferences {
      padding-top: 25px;

      h3 {
        margin: 0;
      }

      h4 {
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 1.25em;
      }

      a {
        color: #444;
      }

      .fa-minus {
        font-size: .75em;
      }

      .fa-comment {
        color: $main-color;
      }
    }
  }


  // Filter
  .filter {

    .form-control {
      display: inline-block;
      margin-bottom: 1em;
      width: 15%;
    }
  }


  // Accounts
  .spotify {
    background: #96D600;
    box-shadow: none;
    font-size: 1.25em;
  }


}


