/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Authentication
@import 'authentications';

// Bootstrap
@import 'bootstrap';
@import 'font-awesome';

// Colors
$main-color: #EF3592;

// Mixins
@mixin translate-center($x, $y) {
  left: $x;
  position: absolute;
  top: $y;
  -webkit-transform: translateX(-$x) translateY(-$y);
  -moz-transform: translateX(-$x) translateY(-$y);
  -ms-transform: translateX(-$x) translateY(-$y);
  transform: translateX(-$x) translateY(-$y);
}

// Body
body {
  background: #eaeaea;
  
  p {
    font-size: 1.25em;
  }


  .navbar {
    background: #222;
    border: none;
    border-radius: 0;
    box-shadow: 0 .15em rgba(0, 0, 0, .8);

    .navbar-logo {
      height: 35px;
      margin-top: 8px;
    }
    
    .navbar-avatar {
      top: .8em;
      width: 2em;

      a {
        padding: 0;

        .avatar {
          border-radius: 4px;
          padding-bottom: 100%;
          width: 100%;
        }
      }
    }

  }


  .artists {
    margin-left: -.5%;
    margin-right: -.5%;

    .artist-image {
      border-radius: 4px;
      margin: 0.5%;
      margin-bottom: .75%;
      padding-bottom: 19%;
      width: 19%;

      .artist-panel {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 .25em rgba(0, 0, 0, .8);
        background: rgba(0, 0, 0, .45);
        color: #eee;
        padding: 0 .75em;
        @include translate-center(50%, 100%);
        width: 100%;

        .artist-name {
          margin: .5em 0 .25em;
        }

        .artist-ctrl {
          float: right;
          margin: .5em 0 0;

          .fa-heart {
            color: lighten($main-color, 5%);
          }

          form {
          float: right;
          margin: 0 0 0 .25em;

            .fa-heart{
              color: #eee;
            }
          }

          button {
            background: none;
            border: none;
            color: #eee;
            margin: 0;
            padding: 0;
          }

          button:focus {
            outline: none;
          }
        }


        a {
          color: #eee;
          display: inline-block;
        }

        a:hover {
          text-decoration: none;
        }

        
      
      }
    }
  }



  // Google Map
  .map {
    height: 500px;

    #map-canvas {
      height: 100%;
      width: 100%;
    }
  }








}

  @media screen {
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
}
.bubble {
  margin: 10px 60px;
  padding: 20px;
  min-width: 300px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  background: rgb(125,126,125);
  background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#000000',GradientType=0 );
  color:#fff;
  border-radius:5px;
  box-shadow:inset 0 0 20px #000;
}
.bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 23px;
  border-top: 15px solid blue;
  border-top-color: inherit; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
}
.bubble h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size:1.55em;
  text-shadow:1px 1px 1px #000
}
.bubble a {color:yellow;text-decoration:none;border-bottom:1px dotted #000}
.bubble a:hover {color:#fff}
.bubble p {margin:0 0 5px 0;padding:0;}

.bubble-black{
  &:after {
  border-top-color: black;
  left: -22px;
  /* rotates 90 degrees */
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  }
  .black {
    border-color: black;
    margin-top: -12px;
  }
}


.bubble-pink {
  background: #EF3592;
  &:after {
  border-top-color: rgb(88,29,65);
  right: -22px;
  left:initial;
  outline: #000 solid 0 0 20px ;
  

  /* rotates 90 degrees */
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


  }
  .pink {
    border-color: #EF3592;
    margin-top: -12px;
  }
}

.message-avatar {
  margin: 30px -10px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: red;
}
