// Body
.users_controller {

  .test1 {
    background: pink;
  }

  .test2 {
    background: yellow;
  }

  .test3 {
    background: grey;
  }


  // Profile Head
  .profile-head {

    .avatar {
      margin-top: 25px;
      padding-bottom: 100%;
      width: 100%;
    }
  }

  // Profile Side
  .profile-side {
    background: grey;
    // padding-left: 5em;
  }





}


